main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    border-bottom: 1px solid #ccc;
}

nav {
    height: 100vh;
    border-right: 1px solid #ccc;
}