.DashboardHub {
  /* border: 2px solid; */
  justify-content: center;
  width: 95vw;
  height: 75%;
}

.FilterBtn {
  display: flex;
  position: absolute;
  left: 86%;
  margin-top: 50px;
}

.AddStudentBtn {
  display: flex;
  align-self: end;
  margin-bottom: 20px;
  margin-left: 90px;
  position: absolute;
  left: 0;
}
/* 
.DeleteStudentBtn {
    display: flex;
    align-self: end;
    margin-bottom: 20px;
    margin-left: 220px;
    position: absolute;
    left: 0;
}
*/
.UpdateStudentBtn {
  /*margin-bottom: 20px;
  margin-right: 20px; */
}

.LaunchInterviewBtn {
  margin-bottom: 20px;
  margin-left: 365px;
  margin-right: 20px;
}

.AddCohortBtn {
  margin-bottom: 20px;
  margin-right: 20px;
}

.DeleteCohortBtn {
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 20px;
}

.Table {
  /* position: absolute; */
  /* height: 525px;
    width: 1900px; */
}

.SearchAndAdd {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 100%;
  position: relative;
  right: 0;
}

.Searchbar {
  height: 35px;
  width: 230px;
  margin-right: 200px;
  margin-left: 90px;
}

.Table td {
  text-align: center;
  text-justify: center;
}

.Table th {
  text-align: center;
}

.Table tr {
  height: fit-content;
}

.SelectedRows {
  background-color: lightslategray;
}
