.cardContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 16px;
  margin-right: 16px;
}

.cardWrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}

.interviewInfo {
  margin: 10px 10px 10px;
  color: gray;
}

b {
  flex-wrap: wrap;
  color: black;
  text-align: right;
}

.linkButton {
  background-color: #0d99ff;
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  margin: 5px 10px 0px;
}

.endButton {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  margin: 5px 10px 0px;
}

.activeQuestion {
  color: #0d99ff;
  cursor: default;
  border: 1px solid #ccc;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 0;
}

.notesBlock {
  width: 260px;
  margin: 10px 20px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  max-height: 300px;
}

.notesInput {
  width: 240px;
  margin: 10px 10px 10px;
  color: gray;
  border: none;
  outline: none;
  resize: vertical auto;
  overflow: auto;
  height: 260px;
}

h4 {
  margin-left: 20px;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}