.cardContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.studentInfoCard {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    height: 40px;
    width: 40px;
    align-self: center;
    margin: 0px 10px 0px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px;
}

.studentInfo {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px;
    color: gray;
}

li p {
    margin-left: 10px;
    margin-right: 30px;
    flex-wrap: wrap;
    color: black;
    text-align: right;
}

.interviewButton {
    padding: 2px;
    background-color: #0D99FF;
    border: 0px;
    border-radius: 5px;
    margin: 5px 30px 20px;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
}

.notesHeading {
    font-size: 18px;
    text-decoration: underline;
    color: gray;
    margin: 10px 30px 10px;
}

.notesInfo {
    font-size: 18px;
    color: gray;
    margin: 10px 30px 10px;
}

.notesNarrative {
    margin: 10px 30px 10px;
}